#notesText {
    background: white;
    margin-top: 20px;
    padding: 10px;
    border-color: #c9c9c9;
    border-style: solid;
    border-width: thin;
}

input {
    background: white;
    margin-top: 20px;
    padding: 10px;
    border-color: #c9c9c9;
    border-style: solid;
    border-width: thin;
    width: 300px;
}

p {
    white-space: pre-line;
}
